@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"),
       url(../fonts/roboto.woff) format("woff"),
       url(../fonts/roboto.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
       url(../fonts/robotobold.woff) format("woff"),
       url(../fonts/robotobold.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
       url(../fonts/robotomedium.woff) format("woff"),
       url(../fonts/robotomedium.woff2) format("woff2");
}


body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgb(138, 157, 143);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;

  box-sizing: border-box;
}

.columns {
  display: flex;
  justify-content: space-between;

   /* Для сетки */
   box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)
}

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  padding: 8px 17px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  cursor: pointer;
}

.button-orange {
  padding: 13px 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;

  border-radius: 24px;
  background: linear-gradient(to top, #e74b35, #f26843);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1)
}


.button-orange:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3)
}

.button-orange:active {
  background: linear-gradient(to bottom, #d24430, #e1613e);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.3)
}

/* header start */
.header-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.navigation-link-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 600px;
  margin: 0px;
  padding: 0px;

  list-style: none;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)

}

.navigation-link {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 4px 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px;
}

.navigation-link:hover {
  background-color: rgba(255, 255, 255, 1);

  color: #000000;
}

.navigation-link:active {
  box-shadow: inset 0px 1px 1px 0px;
}

.catalog-navigation {
  background-color: #f8f7f4;
}


.catalog-navigation .new {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.catalog-navigation {
  display: none;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.header-buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 396px;
  margin: 0px;
  padding: 0px;

  list-style: none;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)
}

.catalog-navigation a:hover {
  color: #000000;

  background-color: #fbded7;
}

.catalog-navigation a:active {
  color: #000000;

  background-color: #f6b5a5;
}

.catalog-navigation .current-section,
.current-page {
  color: #ffffff;

  background-color: #d07058;
}

.header-buttons-list .button-enter,
.header-buttons-list .button-cart {

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.header-main-search {
  display: none;
}

.log-in-form {
  display: none;
}

.cart-view {
  display: none;
}

.button-search:hover,
.button-enter:hover,
.button-cart:hover {
  color: #000000;

  background-color: rgba(255, 255, 255, 1);
}

.log-in-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
  color: #000000;
}

.header-main-contacts {
  width: 100%;
  text-align: end;
}

.header-main-time {
  margin: 0px;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}

.header-main-phone {

  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}
/* header end */

/* footer start */
.footer-link-list a {

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
}

.footer-link-list a:hover {
  color: #d3b199;
}

.footer-link-list a:active {
  color: #d3b199;
}

.footer-link-list .for-customers {
  position: relative;

  font-weight: bold;
}

.for-customers::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -15px;

  width: 13px;
  height: 13px;

  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.developers {

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.developers a {

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
}

.developers a:hover {
  color: #d3b199;
}

.developers a:active {
  color: #d3b199;
}
/* footer end */


/* --------------------------------- */
/* ------------- index --------------*/
/* --------------------------------- */

/* big slider start */
.slide {
  display: none;
}

.slide-show {
  display: block;
}

.slide-title {

  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  color: #ffffff;
}

.slides .button-orange-big {
  padding: 10px 17px;

  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;

  border-radius: 32px;
}

.slider-controls {
  display: flex;
  flex-direction: row;

  list-style: none;
}

.slide:nth-child(1) {
  background-image: url(../img/bcg_ice-cream-1.png);
  background-repeat: no-repeat;
}
.slide:nth-child(2) {
  background-image: url(../img/bcg_ice-cream-2.png);
  background-repeat: no-repeat;
}
.slide:nth-child(3) {
  background-image: url(../img/bcg_ice-cream-3.png);
  background-repeat: no-repeat;
}
/* big slider end */

/* offers start */
.offers-list {
  flex-wrap: wrap;

  margin: 0px;
  margin-bottom: 40px;
  padding: 0px;

  list-style: none;
}

.offer {
  width: 560px;

  margin-right: 25px;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)

}

.offer:nth-child(2n) {
  margin-right: 0px;
}

.offer:first-child {
  background-image: url(../img/bcg_raspberry-pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.offer:last-child {
  background-image: url(../img/bcg_chocolate-pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.offer h2 {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.offer p {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
}
/* offers end */

/* products start */
.product-list {
  flex-wrap: wrap;
  margin: 0px;
  margin-bottom: 40px;
  padding: 0px;

  list-style: none;
}

.product {
  width: 267px;
  margin-right: 25px;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)

}

.product:nth-child(4n) {
  margin-right: 0px;
}

.transparent-product-layer:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ice-cream-image {
  border-radius: 50%;
}

.product-price {

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.product-name {

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  color: #ffffff;
}

.product-name:hover {
  color: #d3b199
}

/* .product-name:active {
} */
/* products end */

/* description start */
.description {
  margin-bottom: 40px;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)

}

.description {
  background-image: url(../img/bcg_waffle-pattern_.jpg);
  background-repeat: repeat;
  background-size: auto;
  background-position: left center;
}

.description .description-title {
  margin: 0px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.power-list {
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;

  list-style: none;
}

.power-list .item {
  width: 560px;
  margin-right: 25px;
  padding-left: 60px;

  box-sizing: border-box;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)

}

.power-list .item:nth-child(2n) {
  margin-right: 0px;
}

.description p {

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}
/* description end */

/* blog + mail start */
.blog-news {
  background-image: url(../img/bcg_strawberry-pattern.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
}

.blog-news h2 {

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
}

.blog-news .blog-news-post {

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}

.blog-news-post:hover {
  color: #e84d37;
}

.blog-news p {
  margin: 0px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.mailing {
  width: 560px;
  margin-bottom: 40px;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)

}

.mailing {
  padding: 10px;

  border-radius: 10px;
  background-image: url(../img/svg/bg-post.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.mailing-internal-wrapper {
  border-radius: 10px;
  background-color: #f8f7f4;
}

.mailing p {
  margin: 0px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}
/* blog + mail end */

/* map start */
.map {
  position: relative;

  display: flex;
  justify-content: center;
}

.map-static {
  margin: auto;
}

.map-contacts {
  position: absolute;

  width: 302px;
  margin-top: 60px;
  margin-left: 450px;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)
}

.map-contacts {
  background-color: #f8f7f4;
}

.map-contacts p {

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.map-contacts .address {

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.map-contacts .phone {

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
/* map end */


/* popup start */
.ask-popup-title {
  padding: 0px;
  margin: 0px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;

  background-color: #f8f7f4;
}
/* popup end */

/* --------------------------------- */
/* --------- catalog start ----------*/
/* --------------------------------- */
.cart-view {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.cart-view img {
  border-radius: 50%;
}

.order-item a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.cart-view .order-item-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.cart-view .total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;

  list-style: none;

  /* Для сетки */
  box-shadow: inset 0px 0px 0px 1px rgba(190, 14, 14, 0.5)

}

.breadcrumbs a {

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-title {

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

/* filter start */
.filters-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filters-form fieldset {
  margin: 0px;
  padding: 0px;

  border: none;
}

.filters-form .fieldset-title {
  margin: 0px;
  padding: 0px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

label.fieldset-title {
  display: block;
}

.filters-form select {
  width: 193px;
  height: 36px;
  margin-right: 15px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;

  cursor: pointer;
}

.filters-form select:hover,
.filters-form select:focus {
  color: #000000;
}


/* price controls. Start */
.range-controls {
  position: relative;

  margin-right: 15px;
  height: 36px;
  width: 220px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.range-controls .scale {
  position: absolute;
  top: 15px;
  left: 20px;

  width: 176px;
  height: 2px;

  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 50%;
  height: 2px;

  background: rgba(255, 255, 255, 1);;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url(../img/svg/filter-button.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.range-controls .toggle:hover {
  top: 6px;

  width: 22px;
  height: 22px;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}
/* price-controls end */

/* radio */
.filter-fat-list {
  display: flex;
  flex-direction: row;

  margin: 0px;
  margin-right: 15px;
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  height: 36px;
  min-width: 220px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;

  list-style: none;
}

.filter-fat label {
  position: relative;

  padding-left: 30px;
  margin-right: 18px;

  cursor: pointer;
}

.filter-fat label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url(../img/svg/radio-off.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.80;
}

.filter-radio:checked + label::before {
  background-image: url(../img/svg/radio-on.svg);
}

.filter-radio:hover + label::before {
  opacity: 1;
}

.filter-radio:checked:hover + label::before {
  opacity: 1;
}

.filter-radio:disabled + label,
.filter-radio:disabled + label::before {
  opacity: 0.4;

  pointer-events: none;
}

/* checkbox */
.filter-fillers {
  display: flex;
  flex-direction: row;

  margin: 0px;
  margin-right: 15px;
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  height: 36px;
  min-width: 220px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;

  list-style: none;
}

.filter-fillers label {
  position: relative;

  padding-left: 30px;
  margin-right: 18px;

  cursor: pointer;
}

.filter-fillers label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url(../img/svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.80;
}

.filter-checkbox:checked + label::before {
  width: 26px;
  height: 26px;

  background-image: url(../img/svg/checkbox-on.svg);
}

.filter-checkbox:hover + label::before {
  opacity: 1;
}

.filter-checkbox:checked:hover + label::before {
  opacity: 1;
}

.filter-checkbox:disabled + label,
.filter-checkbox:disabled + label::before {
  opacity: 0.4;

  pointer-events: none;
}

/* button */
.filter-apply-button {
  min-width: 144px;
  height: 36px;
  margin-top: 16px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  border: 3px solid rgba(255, 255, 255, 1);
}

.filter-apply-button:hover {
  color: #000000;

  background-color: rgba(255, 255, 255, 1);
}

.filter-apply-button:active {
  color: #000000;

  border: none;
  background-color: #eaeaea;
  box-shadow: inset 0px 1px 1px 0px;
}

/* filter end */

/* catalog start */
.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;


  list-style: none;
}

.pagination-item {

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-item-active {
  color: #000000;
}

/* catalog end */

/* переневсти потом наверх */

.header-main-search {
  background-color: #f8f7f4;
}

.log-in-form {
  background-color: #f8f7f4;
}

.cart-view {
  background-color: #f8f7f4;
}
